<!--PARTNERS-->
<section id="ts-partners" class="ts-sponsors">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-title">Supporting Our Project</h2>
            <p class="section-sub-title">Event Partners</p>
        </div>
        <!--/ Title row end -->
        <div class="row sponsor-padding text-center">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
        </div>
        <div class="row sponsor-padding text-center">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
        </div>
        <div class="row sponsor-padding text-center">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#" class="sponsor-logo">
                    <img class="img-responsive" src="assets/mobilization/images/tmp/partner-logo.jpg" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--/ Container end -->
</section>
<!-- /PARTNERS -->

