<!--SPEAKERS-->
<section id="ts-speakers" class="ts-speakers gradient-bg">
	<div class="container">
		<div class="row text-center">
			<h2 class="section-title">Revolutionizing the World</h2>
			<h3 class="section-sub-title title-white">Visionary Speakers</h3>
		</div>
		<!--/ Title row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Content row 1 end -->
		<div class="gap-40"></div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="ts-speaker">
					<div class="ts-speaker-image">
						<img class="img-responsive" src="assets/mobilization/images/tmp/speaker.jpg" alt=""/>
					</div>
					<div class="ts-speaker-info">
						<h3 class="ts-speaker-name"><a href="#">Michał Kowalczyk</a></h3>
						<p class="ts-speaker-designation">Software Engineer, TomTom</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="general-btn text-center">
				<a class="btn btn-primary" href="#"><i class="far fa-thumbs-up"></i> Become our Speaker!</a>
			</div>
		</div>
		<!-- Content row 2 end -->
	</div>
	<!--/ Container end -->
</section>
<!-- Speakers end -->
<!-- /SPEAKERS -->
